# Authentication (Better Auth)
BETTER_AUTH_SECRET=g789f2347yr872yrh4867dtr8927dnrfn3497t7y78fhv687goifygh387t3g1hfy4
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Payments (with Stripe)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Database (Neon PostgreSQL)
DATABASE_URL=postgresql://raburuz:mysecretpassword@localhost/dev

# Redis
REDIS_URL=""
REDIS_TLS="false"

# Cron Job
CRON_SECRET=

# Resend Email Service
RESEND_API_KEY=

# VAPID Keys for Push Notifications
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=

# Logsh
LOGSH_API_URL=http://localhost:3000
LOGSH_API_KEY=logsh.co_WcRTAABTzRgJNchftlIiHRLwchYkyLMUUFgnHGAtCLNvvTjCyERoNyyJjXUMQbRQ